<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="connStr" value="server=192.168.0.113;database=bigbang;PORT=3306; uid=root;pwd=root"/>
  </appSettings>
</configuration>